/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/**
 * Container
 */
@media (min-width: 576px)
{
  .albamn-container {
    max-width: 540px;
  }
}
@media (min-width: 768px)
{
  .albamn-container {
    max-width: 720px;
  }
}
@media (min-width: 992px)
{
  .albamn-container {
    max-width: 960px;
  }
}
@media (min-width: 1400px)
{
  .albamn-container {
    max-width: 1320px;
  }
}

.albamn-container {
  margin-left: .5rem;
  margin-right: .5rem;
}

/**
 * h
 */
.albamn-container h3 {
  font-size: 1.75rem;
}

.albamn-container h5 {
  font-size: 1.25rem;
}

/**
 * ol, ul
 */
.albamn-container ol {
  font-size: 1rem;
}

.albamn-container ul {
  font-size: 1rem;
  padding-left: 1rem;
  list-style: inherit;
}

/**
 * Margin
 */
.albamn-m {
  margin: .5rem;
}

.albamn-mb-1 {
  margin-bottom: .25rem;
}

.albamn-mb-2 {
  margin-bottom: .5rem;
}

.albamn-mb-3 {
  margin-bottom: 1rem;
}

.albamn-mt {
  margin-top: .5rem;
}

/**
 * Padding
 */
.albamn-px {
  padding-right: 0;
  padding-left: 0;
}

/**
 * Font
 */
.albamn-fs {
  font-size: 1rem;
}

/**
 * Row
 */
.albamn-row {
  display: flex;
  flex-wrap: wrap;
}

.almamn-justify {
  justify-content: space-around;
}

/**
 * col
 */
.albamn-col-5 {
 flex: 0 0 auto;
 width: 40% !important;
}

.albamn-col-6 {
 flex: 0 0 auto;
 width: 50% !important;
}

/**
 * Alert
 */
.albamn-alert {
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.albamn-alert-green {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.albamn-alert-yellow {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

/**
 * Button
 */
.albamn-btn {
  display: inline-block;
  width: 100%;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  padding: .375rem .75rem;

  text-align: center;
  vertical-align: middle;

  border: 1px solid transparent;
  border-radius: .25rem;
}

.albamn-btn-blue {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.albamn-btn-blue:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.albamn-btn-red {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.albamn-btn-red:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}

/**
 * Form Input
 */
.albamn-input {
  display: flex;
}

.albamn-input > * {
  max-width: 100%;
}

/**
 * Form Input text and label
 */
.albamn-input-label, .albamn-input-text {
  font-size: 1rem;
  font-weight: 400;
}

.albamn-input-label {
  line-height: 1.5;
}

.albamn-input-text {
  line-height: 2;
  padding: 0 8px;
}

.albamn-input .albamn-input-label {
  width: 33%;
  flex: 0 0 auto;
  margin: auto 0;
}

.albamn-input .albamn-input-text {
  width: 66%;
  flex: 0 0 auto;
  margin-left: auto;
}

.albamn-input-text input {
  width: 100%;
  font-size: inherit;
}

/**
 * Form Input radio
 */
.albamn-input-radio-group {
  width: 66%;
  flex: 0 0 auto;
  margin-left: auto;

  font-size: 1rem;
  font-weight: 400;
}

.albamn-input-radio-container {
  position: relative;

  margin-right: 2rem;
  cursor: pointer;

  display:inline-block;
  width: 30%;
}

.albamn-input-radio-container input {
  position: absolute;

  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.albamn-input-radio-container:hover input ~ .albamn-input-radio-button {
  background-color: #ccc;
}

.albamn-input-radio-container input:checked ~ .albamn-input-radio-button {
  background-color: #2196F3;
}

.albamn-input-radio-container input:checked ~ .albamn-input-radio-button:after {
  display: block;
}

.albamn-input-radio-label {
  display: inline-block;
  padding-left: 40px;
  padding-top: 4px;
}

.albamn-input-radio-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.albamn-input-radio-button:after {
  content: "";
  position: absolute;
  display: none;

  top: 7px;
  left: 7px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #f0f0f1;
}

/**
 * Grid
 */
.albamn-grid-wrapper {
  padding: 2px;
}

.albamn-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-auto-rows: 15rem;
  gap: 0.5rem;
}

.albamn-grid-child {
  width: 14rem;
  height: 15rem;
  background: black;
  margin: auto;
}

.albamn-grid-child-editor {
  width: 14rem;
  height: 15rem;
  margin: auto;
}

/**
 * Code
 */
.albamn-code {
  color: #d63384;
  background: #fff;

  padding: 3px 5px 2px 5px;
  margin: 0 1px;

  font-size: .875rem;
  word-wrap: break-word;
  direction: ltr;
}

/**
 * Slider
 */
.albamn-slider-group {
  position: relative;
  width: 100%;
  height: 100%;
}

.albamn-slider-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.albamn-slider-group .albamn-slider-item:first-child {
  position: relative;
}

.albamn-slider-item img,
.albamn-slider-item video
{
  opacity: 0;
  transition: opacity 1.2s;
}

.albamn-slider-show img,
.albamn-slider-show video
{
  opacity: 1;
}

.albamn-slider-content {
  width: 100%;
  height: 100%;
}

/**
 * Editor
 */
.albamn-editor-media-wrapper {
  width: 90%;
  height: 90%;
  background: black;
  margin: auto;
}

.albamn-editor-media-footer {
  width: 90%;
  margin: auto;
}

.albamn-editor-media-footer input {
  margin: auto;
}

.albamn-editor-media-footer label {
  float: right;
}
